table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom:1vw;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
h1{
    text-align: center;
    font-size: 2vw;
}
.btn-container {
    display: flex;
    
    align-items: center;
}
.btn-container button {
    margin-right: 5px;
}
.btn-row{
    display: flex;
}
.btn{
    width: 100%;
   font-size: 2vw;
   font-weight: bold;
    text-align: center;
    background-color: gray;
    padding: 1vw;
}
.btn:hover{
    background-color:red;
}
#nghenghieplist{
    display: none;
}
#chinhanhlist{
    display: none;
}
#sanphamvaylist{
    display: none;
}
#kenhvaylist{
    display: none;
}
#thunhaplist{
    display: none;
}
#tygialist{
    display: none;
}
.header{
    width: 95%;
    margin: auto;
    margin-top:1vw;
    margin-bottom: 1vw;
    background-color: white;
    display: flex;
    border: solid 1px gray;
    
    border-radius:10px;
    
   
}
.contain-header{
  padding: 0.1vw;
    width: 100%;
    background-image: url(../img/Grandsales_comp.jpg);
    background-size: cover;
    padding-bottom: 27vw;
   
}
.logo img{
    width: 10vw;
    margin-left: 1vw;
    margin-top: 0.6vw;

}
.headertext{
    color: #00524e;
    font-size: 1.5vw;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1.5vw;
    font-weight: 800;
    margin-left: 2vw;
}
.tabtext{
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.8vw;
    font-weight: bold;
    font-size:1vw;
   
    
}
.tabtext:hover{
   cursor: pointer;
   opacity: 0.9;
   
   background-color:whitesmoke;
    
}
.bg-text{
    font-size: 4vw;
    font-weight: bold;
    position: absolute;
    margin-top: 4vw;
    margin-left: 8vw;
    color: white;
}
.bg-text-2{
    font-size: 2vw;
    font-weight: bold;
    position: absolute;
    margin-top: 10vw;
    margin-left: 8vw;
    color: white;
}
#exitButton {
    
}