table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
h1{
    text-align: center;
    font-size: 2vw;
}
.btn-container {
    display: flex;
    
    align-items: center;
}
.btn-container button {
    margin-right: 5px;
}
.btn-row{
    display: flex;
}
.btn{
    width: 100%;
   font-size: 2vw;
   font-weight: bold;
    text-align: center;
    background-color: gray;
    padding: 1vw;
}
.btn:hover{
    background-color:red;
}
#nghenghieplist{
    display: none;
}
#chinhanhlist{
    display: none;
}
#sanphamvaylist{
    display: none;
}
#kenhvaylist{
    display: none;
}
#thunhaplist{
    display: none;
}