#edit-client {
    text-align: center; /* Căn giữa nội dung trong div */
    max-width: 600px; /* Giới hạn chiều rộng của div */
    margin: 0 auto; /* Căn giữa div trong trang */
}

.title-input {
    text-align: left; 
    display: block; 
    margin-bottom: 5px; 
}

input[type="text"] {
    width: 100%; 
    padding: 8px; 
    margin-bottom: 10px; 
    box-sizing: border-box; 
}

button {
    padding: 10px 20px; 
    background-color: #007BFF; 
    color: #fff; 
    border: none; 
    cursor: pointer; 
}
